@mixin for-up($px) {
    @media (min-width: $px) { @content; }
}
@mixin flex() {
    -js-display: flex;         /* A JavaScript polyfill for Flexbox - https://github.com/jonathantneal/flexibility */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


.layout {
    .is-desktop {
        display: none;
    }

    @include for-up(1350px) {
        .is-mobile {
            display: none;
        }

        .is-desktop {
            &.u-box {
                @include flex;
            }
            
            &.layout-header,
            &.layout-main,
            &.layout-footer {
                &:not(.u-box) {
                    display: block;
                }
            }
        }
    }
}