/* Name that color - http://chir.ag/projects/name-that-color */
/* colours */
$colorMineShaft: #282828;
$colorKingfisherDaisy: #280096; // logo colour
$colorDefault: $colorMineShaft;
$colorLogo: $colorKingfisherDaisy;

/* fonts */
$fontRoboto: 'Roboto', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$fontRelativeBook: "relative-book", sans-serif;
$fontRelativeBold: "relative-bold", sans-serif;
$fontDefault: $fontMontserrat;
